<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 我的 ASP.NET MVC 应用程序</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="head-content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">将你的徽标放置在此处</a>
                </div>
            </div>
        </nav>
    </div>
    <div id="main-content">
        <div class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index","Home")">项目管理</a></li>
                <li><a href="@Url.Action("About","Home")">人员管理</a></li>
                <li><a href="@Url.Action("Contact","Home")">财务管理</a></li>
            </ul>
        </div>
        @RenderBody()
    </div>

    <div id="foot-content">

    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
